body {
    font-family: Helvetica;
    text-align: center;
}

.div-page {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 50%;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.div-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: auto;
    text-align: center;
}

.UrlSignerBtn:hover {
    background-color: #45a049;
}
    
.UrlSignerBtn {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 25px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.urlText {
    overflow-x: hidden;
    /*float: left;*/
    font-size: medium;
    /*font-style: italic;*/
    text-align: center;
    /*white-space: nowrap;*/
    width: 100%;
    /*margin: 10px 0;*/
}
    
.urlText:hover {
    overflow-x: auto;
}

#image {
    float: right;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

#file_data {
    clear: left;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.DataPrint {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 90%;
    margin: auto;
    padding: auto;
    text-align: left;
}

.DataPrint::after {
  content: "";
  clear: both;
  display: table;
}